@media (max-width: 992px) {
  .bg-img-banner {
    height: 400px;
    background-size: cover;
    color: rgb(201, 201, 201);
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.596),
        rgba(56, 55, 55, 0.605)
      ),
      url("../images/banner.jpg");
  }
  .avatar {
    display: none;
  }

  .list-group-item {
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
  .project-description {
    gap: 5px;
  }

  #nav-bar a {
    font-size: small;
  }
}
